{{define "content"}}
<main class="mdl-layout__content">
<div class="page-content">
<div id="patch">
<h3>Patch:</h3>
<h4>Please submit your config with the form; we'll register you right away!</h4>
<form action="/patch" method="post" enctype="multipart/form-data" class="dropzone">
    <input type="file" name="uploaded_config"><br/><br/>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Upload and Patch!">
</form>
<br/>
</div>
</main>
{{end}}