{
  "Port": 3306,
  "Host": "localhost",
  "Username": "rc24",
  "Password": "changeme",
  "DBName": "WC24Mail",
  "Interval": 10,
  "BindTo": ":80",
  "SendGridKey": "changeme",
  "SendGridDomain": "changeme.xyz",
  "Debug": true
}